{% extends "main_app/base.html" %}

{% block content %}

  <div class="container-fluid">
      <div class="row">
        <!-- Left Hand Side -->
        <div class="col-sm-2 hidden-xs hidden-sm">
          <div class="panel panel-default">
            <div class="panel-heading">Account Details</div>
            <div class="panel-body">
              <a href="#" />Profile Settings</a><br />
              <a href="#" />Billing Address</a><br />
              <a href="#" />Postal Addresses</a><br />
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">Buying</div>
            <div class="panel-body">
              <a href="#" />Order History</a><br />
              <a href="#" />Watching</a><br />
              <a href="#" />Wishlist</a><br />
              <a href="#" />Feedback</a><br />
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">Selling</div>
            <div class="panel-body">
              <a href="#" />Sold items</a><br />
              <a href="#" />Items for sale</a><br />
              <a href="#" />Product Feed</a><br />
              <a href="#" />Messages</a><br />
              <a href="#" />Feedback</a><br />
            </div>
          </div>
        </div>

        <!-- IN CASE SMALL SCREENS -->
        <div class="col-md-2 visible-xs visible-sm" >
          <a href="{% url 'user_details:account' %}">My Account</a>
        </div>
        <!-- CONTENT PANE -->
        <div class="col-sm-10">
          <h1>{{ usr }} Account</h1>
        </div>
      </div>
  </div>

{% endblock content %}
