{% extends "main_app/base.html" %}
{% load widget_tweaks %}
{% block content %}

<script type="text/javascript">
  function ValidateAccount() {
    var add01 = document.getElementById('id_address_line_1');
    var add02 = document.getElementById('id_address_line_2');
    var add03 = document.getElementById('id_address_line_3');
    var pc = document.getElementById('id_post_code');
    var cit = document.getElementById('id_city');
    var nick = document.getElementById('id_address_nick');

    if (add01.value.length < 6) {
      alert("Address Line 1 cannot be empty and must be at least 6 characters");
      return false;
    }

    if (pc.value.length < 2) {
      alert("We need the post code.");
      return false;
    }

    if (city.value.length < 4) {
      alert("Please enter a city with more than 3 characters");
      return false;
    }

    if (nick.value.length < 1) {
      alert("Address must have a nick to be saved");
      return false;
    }

		return true;
  }
</script>


<div class="container-fluid">
  <h1>Postal Addresses</h1>
</div>

{% if postals %}
  <div class="container">
    <h2>Current registered addresses</h2>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Address Nick</th>
          <th>Address Line 1</th>
          <th>Address Line 2</th>
          <th>Address Line 3</th>
          <th>City</th>
          <th>Post Code</th>
          <th>delete?</th>
        </tr>
      </thead>
      <tbody>
      {% for line in postals %}
          <tr>
            <td>{{ line.address_nick }}</td>
            <td>{{ line.address_line_1 }}</td>
            <td>{{ line.address_line_2 }}</td>
            <td>{{ line.address_line_3 }}</td>
            <td>{{ line.city }}</td>
            <td>{{ line.post_code }}</td>
            <td><a href="{% url 'user_details:del-postal' %}?postalid={{ line.id }}" title="delete">{{ line.post_code }}</a></td>
          </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}


<div class="container">
  <h2>Add Delivery Address</h2>
  <form name="billing_form" class="form-horizontal" role="form" method="post" onsubmit="return ValidateAccount();" action="{% url 'user_details:add-postal' %}">
    {% csrf_token %}

    {% for field in form %}
      <div class="form-group">
          {{ field.errors.as_text }}
        <label class="control-label col-sm-2" for="{{ field.id_for_label }}"> {{ field.label }}: </label>
        <div class="col-sm-10">
          {% render_field field class+="form-control" %}
        </div>
      </div>
    {% endfor %}

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="left-right"><button type="submit" class="btn btn-success" name="save"  value="save">Save</button></div>
      </div>
    </div>
  </form>
</div>
{% endblock content %}

{% block footer %}
{% endblock footer %}
