{% extends "user_details/account.html" %}

{% block account_content %}
<h1>Your profile</h1>
<div class="col-lg-6">
  <div class="panel panel-default" id="profile-panel-box">
    <div class="panel-heading">Profile details</div>
    <div class="panel-body">
      <p>
        <div class="left-right"><span>Username:</span></div>
        <div class="text-right"><span>{{ user.get_username }}</span></div>
      </p>
      <p>
        <div class="left-right"><span>Member since:</span></div>
        <div class="text-right"><span>{{ user.date_joined|date:"d-M-Y H:i" }}</span></div>
      </p>
      <p>
        <div class="left-right"><span>Last login:</span></div>
        <div class="text-right"><span>{{ user.last_login|date:"d-M-Y H:i" }}</span></div>
      </p>
      <p>
        <div class="left-right"><span>Full name:</span></div>
        <div class="text-right"><span>{{ user.first_name|capfirst }} {{ user.last_name|capfirst }}</span>&nbsp;<a title="edit" href="{% url 'user_details:edit-name' %}#save-button"><span class="small-text" >(edit)</span></a></div>
      </p>
      <p>
        <div class="left-right"><span>Email:</span></div>
        <div class="text-right"><span>{{ user.email }}</span>&nbsp;<a title="edit" href="{% url 'user_details:edit-email' %}#save-button"><span class="small-text" >(edit)</span></a></div>
      </p>
      <p>
        <div class="left-right"><span>Phone Number:</span></div>
        <div class="text-right"><span>{{ user.userdetail.phone_number }}</span>&nbsp;<a title="edit" href="{% url 'user_details:edit-phone' %}#save-button"><span class="small-text" >(edit)</span></a></div>
      </p>
      <p>
        <div class="left-right"><span>Password:</span></div>
        <div class="text-right"><span>**********</span>&nbsp;<a title="edit" href="{% url 'user_details:edit-password' %}#save-button"><span class="small-text" >(edit)</span></a></div>
      </p>
      <p>
        <div class="left-right"><span>Receive marketing emails:</span></div>
        <div class="text-right"><span>{{ user.userdetail.marketing_optin|yesno:"yes,no" }}</span>&nbsp;<a title="edit" href="{% url 'user_details:edit-marketing' %}#save-button"><span class="small-text" >(edit)</span></a></div>
      </p>
      <p>
        <div class="left-right"><span>Account is active:</span></div>
        <div class="text-right"><span>{{ user.is_active|yesno:"yes,no" }}</span>&nbsp;<a title="edit" href="{% url 'user_details:status-switch' %}#save-button"><span class="small-text" >(edit)</span></a></div>
      </p>
    </div>
  </div>
</div>
<div class="col-lg-6">
  {% block profile_action %}
    <div class="panel panel-default" id="profile-panel-box">
      <div class="panel-heading">Profile statistics</div>
        <div class="panel-body">
          ... to follow ...
        </div>
    </div>
  {% endblock profile_action %}
</div>
{% endblock account_content %}
