{% extends "main_app/base.html" %}
{% load widget_tweaks %}
{% block content %}

<script type="text/javascript">
  function noWhiteSpace(str) {
    return /^\S{5,}$/.test(str);
  }

  function validateEmail(email) {
    var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
    return re.test(email);
  }

  function checkPassword(str) {
   // at least one number, one lowercase and one uppercase letter
   // at least six characters
   var re = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}/;
   return re.test(str);
 }

  function validateForm() {
    var emailID = document.getElementById('id_email');
    var username = document.getElementById('id_username');
    var firstname = document.getElementById('id_first_name');
    var password = document.getElementById('id_password1');
    var conf_pass = document.getElementById('id_password2');

    if (firstname.value.length < 2) {
      alert("First name cannot be empty and must be at least 2 characters");
      return false;
    }

    if (!noWhiteSpace(username.value)) {
      alert("Username can not be empty, must be 5 characters long and must have no whitespace. Special characters are also not okay.");
      return false;
    }

    if (!checkPassword(password.value)) {
      alert("A password needs to have 1 UpperCase letter, 1 lower case letter, at least 1 number and be 6 characters long.");
      return false;
    }
    if (password.value != conf_pass.value) {
      alert("Password and Confirmation must be the same");
      return false;
    }

    if (!validateEmail(emailID.value)) {
        alert("Not a valid email")
        return false;
    }

    return true;

  }
</script>

  <div class="container">

    <h1>Register Form</h1>
    {{ form.non_field_errors }}
    <form onsubmit="return validateForm()" action="{% url 'user_details:register' %}" class="form-horizontal" role="form" method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group">
            {{ field.errors.as_text }}
          <label class="control-label col-sm-2" for="{{ field.id_for_label }}"> {{ field.label }}: </label>
          <div class="col-sm-10">
            {% render_field field class+="form-control" %}
          </div>
        </div>
      {% endfor %}

      <div>
        <div class="g-recaptcha col-sm-offset-5 col-sm-7" style="padding-bottom: 10px;" data-sitekey="6LduyQwTAAAAANHdf2AKPWMk0fylju7dBwbdcrIm"></div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="left-right">
            <button type="submit" class="btn btn-primary" name="save" value="submit">
              <span class="glyphicon glyphicon-user"></span> Create Account
            </button>
          </div>
            <div class="text-right">
              <button type="submit" class="btn btn-success" name="details" value="submit">
                <span class="glyphicon glyphicon-chevron-right"></span> Further Details
              </button>
            </div>
          </div>
        </div>
    </form>
    <hr />
    <div class="col-sm-offset-2 col-sm-10">or: <button type="button" class="btn btn-default glyphicon glyphicon-log-in" data-toggle="modal" data-target="#signupModal" > Login</button></div>
  </div>

{% endblock content %}

{% block footer %}
{% endblock footer %}
