{% extends "main_app/base.html" %}
{% load widget_tweaks %}
{% block content %}

<div class="container">
  <h1>Insert or update a listing</h1>

  {{ form.non_field_errors }}
  <form name="edit-product" class="form-horizontal" role="form" method="post" onsubmit="return validateForm();"  action="{% url 'product:edit-product' %}">
    {% csrf_token %}
    <div class="form-group">
      {{ form.product_name.errors.as_text }}
      <label class="control-label col-sm-2" for="{{ form.product_name.id_for_label }}"> {{ form.product_name.label }}*: </label>
      <div class="col-sm-10">
        {% render_field form.product_name class+="form-control" placeholder="Enter item name" %}
      </div>
    </div>

    <div class="form-group">
      {{ form.supplier_id.errors.as_text }}
      <label class="control-label col-sm-2" for="{{ form.supplier_id.id_for_label }}"> {{ form.supplier_id.label }}: </label>
      <div class="col-sm-10">
        {% render_field form.supplier_id class+="form-control" placeholder="Your own id (optional)" %}
      </div>
    </div>

    <div class="form-group">
      {{ form.product_description.errors.as_text }}
      <label class="control-label col-sm-2" for="{{ form.product_description.id_for_label }}"> {{ form.product_description.label }}*: </label>
      <div class="col-sm-10">
        {% render_field form.product_description class+="form-control" placeholder="Please enter a product description" %}
      </div>
    </div>

    <div class="form-group">
      {{ form.currency_code.errors.as_text }}
      <label class="control-label col-sm-2" for="{{ form.currency_code.id_for_label }}"> {{ form.currency_code.label }}*: </label>
      <div class="col-sm-10">
        {% render_field form.currency_code class+="form-control" %}
      </div>
    </div>

    <div class="form-group">
      {{ form.price.errors.as_text }}
      <label class="control-label col-sm-2" for="{{ form.price.id_for_label }}"> {{ form.price.label }}*: </label>
      <div class="col-sm-10">
        {% render_field form.price class+="form-control" %}
      </div>
    </div>

    <div class="form-group">
      {{ form.keywords.errors.as_text }}
      <label class="control-label col-sm-2" for="{{ form.keywords.id_for_label }}"> {{ form.keywords.label }}: </label>
      <div class="col-sm-10">
        {% render_field form.keywords class+="form-control" placeholder="Comma separated, please! (optional)" %}
      </div>
    </div>

    <div class="form-group">
      {{ form.condition.errors.as_text }}
      <label class="control-label col-sm-2" for="{{ form.condition.id_for_label }}"> {{ form.condition.label }}*: </label>
      <div class="col-sm-10">
        {% render_field form.condition class+="form-control" %}
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="left-right"><button type="submit" class="btn btn-success" name="save"  value="save">Save</button></div>
      </div>
    </div>

  </form>
</div>
{% endblock content %}
