{% extends "main_app/base.html" %}
{% load staticfiles %}
{% block additionalcss %}
<link rel="stylesheet" href="{% static "css/search.css" %}" />
{% endblock %}

{% block content %}

<div class="container" >
  <div id="search-cta">Search for anything to buy...
    <form class="form-inline" role="form">
      <div class="form-group">
        <input type="text" class="form-control search-input" id="search" placeholder="Search ...">
        <button type="submit" class="btn btn-success btn-search"><span class="glyphicon glyphicon-search"></span></button>
      </div>
    </form>
  </div>
</div>

{% endblock content %}
