#search-cta {
  font-size: 3em;
  color: #129793;
  text-shadow:1px 1px 1px rgba(153,153,153,1);
  margin: 100px;
  text-align: center;
}

.btn-search {
  font-size: 0.4em;
  margin: 3px 3px 3px 5px;
}

.search-input {
  width: 400px !important;
}


@media screen and (min-width: 992px) {

}

@media screen and (max-width: 991px) {
  #search-cta {
    font-size: 1.8em;
    margin: 75px;
  }
}

@media screen and (max-width: 767px) {
  #search-cta {
    font-size: 1.4em;
    margin: 50px;
  }

  .search-input {
    width: 100% !important;
    margin: 10px;
  }

  .btn-search {
    font-size: 0.8em;
    width: 100%;
    margin: 7px 7px 7px 9px;
  }
}
