body {
  padding-top: 107px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #535353;
}

a {
	color: #129793;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: #ff7260;
}

h1 {
  font-size: 2em;
  color: #129793;
  text-shadow:1px 1px 1px rgba(153,153,153,1);
  margin-top: 3px;
}

h2 {
  font-size: 1.6em;
  color: #129793;
}

h3 {
  font-size: 1.4em;
  color: #535353;
}

label {
  color: #535353;
}

.left-right {
  float:left;
}

#navbar-brand {
  color: #129793;
  text-shadow:1px 1px 1px rgba(84,84,84,1);
  float: left;
  font-variant: small-caps;
  letter-spacing: 0pt;
  word-spacing: -4pt;
}

#logo-header {
  color: #129793;
  text-shadow:1px 1px 1px rgba(84,84,84,1);
  float: left;
  font-variant: small-caps;
  letter-spacing: 0pt;
  word-spacing: -4pt;
  background-color: #ffffff;
}

#logo-header a {
  color: #129793;
}


#logo-header a:hover {
  color: #ff7260;
  text-decoration: none;
}

#tagline {
	font-size: 1.4em;
	bottom: 3px;
	left: 175px;
  padding-top: 16px;
}

#top-navigation {
  background-color: #ffffff;
  border-color: #398439;
}

#footer {
  margin-top: 10px;
}

#impliedsubmit {
  background-color: #5cb85c;
  color: #ffffff;
}

#map-intro {
  text-align: right;
  margin-top: 5px;
}

#map-lore {
  font-style: italic;
  width: 300px;
  float: right;
}

#map-view {
  text-align: center;
  padding-bottom: 30px;
}

#address {
  margin-left: 7px;
  margin-right: 12%;
}

.search-results-bar {
  background-color: #7AC5C2;
  width: 100%;
  height: 40px;
  padding-top: 10px;
}

.search-filter-heading {
  border: 1px solid #e5e5e5;
  line-height: 20px;
  padding: 10px 7px;
  background-color: #E2F2F1;
  margin-top: 5px;
}

.search-filter-menu {
  border: 1px solid #e5e5e5;
  line-height: 20px;
  padding: 10px 20px 5px 20px;
}

.add-to-basket {
  font-size: 1.3em;
  margin: 30px 35px;
  padding: 10px 35px;
}


@media screen and (min-width: 992px) {
  #logo-header {
    font: bold 36px/100% trebuchet MS,  Helvetica, Arial, sans-serif;
    padding-top: 7px;
  }

  #small-logo-header { display: none; }

}

@media screen and (max-width: 991px) {
  body {
    padding-top: 60px;
  }

  #logo-header {
      display: none;
  }

  #tagline { display: none; }

  #map-lore {
    width: 100%;
    float: none;
    padding-bottom: 10px;
  }

  #map-intro {
    text-align: center;
  }

  h1 {font-size: 1.6em;}
  h2 {font-size: 1.3em;}
  h3 {font-size: 1.2em;}
}


@media screen and (max-width: 767px) {
  body {
    padding-top: 60px;
  }

  h1 {font-size: 1.4em;}
  h2 {font-size: 1.2em;}
  h3 {font-size: 1.1em;}

  #logo-header {
      display: none;
  }

  #contact-map {
    display: none;
  }
}
